<ion-header>
  <ion-toolbar>
    <ion-title>Question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-buttons slot="start"> 
    <ion-back-button></ion-back-button> 
  </ion-buttons> 
  <ion-card id="form" *ngIf="questionCourante">
    <p *ngIF='pseudo'>Welcome <span>{{pseudo}}</span></p>

    <h3 class="ion-text-center" *ngIf="questionCourante">{{ questionCourante.question }} </h3>

    <ion-grid *ngIf="questionCourante && questionCourante.answers">

      <ion-row>

        <ion-col size="6" *ngFor="let answer of questionCourante.answers">

          <ion-button color="transparent" (click)="reponse(answer)" expand="full"
            [ngClass]="{'good' : nextQuestion && answer.correct, 'bad' : nextQuestion && !answer.correct, unknown: !nextQuestion}">
            {{ answer.answer }}</ion-button>

        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>


  <div *ngIf="nextQuestion && !endGame">
    <ion-button (click)="nextQtion()" color="medium">Next question</ion-button>
  </div>

  <div *ngIf="nextQuestion && endGame">
    <ion-button (click)="return()" color="medium">My score</ion-button>
  </div>
</ion-content>
