<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Trivia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list id="form">
      <ion-item>
        <ion-label position="floating">Your pseudo</ion-label>

        <ion-input type="text" placeholder="Your pseudo" [(ngModel)]="pseudo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Difficulty</ion-label>
        <ion-select [(ngModel)]="difficulty">
          <ion-select-option value="easy">Easy</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="hard">Hard</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-toggle></ion-toggle>
        <ion-label> Remember my informations</ion-label>
      </ion-item>

      <ion-button expand="full" (click)="StartGame()" [routerLink]="['/game/', pseudo, difficulty]">Let's play!</ion-button>

      <div *ngIf="error">
        <p id="error"> {{error}} </p>
      </div>
    </ion-list>


  </div>
</ion-content>